<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzy.ebag.student">

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.WelcomeActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestActivity2">

        </activity>

        <!--解决横竖屏切换 fragment 重叠现象-->
        <activity android:name=".activity.center.PersonalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            />

        <activity android:name=".DemoActivity">

        </activity>
        <activity android:name=".TestActivity">

        </activity>
        <activity android:name=".QuestionTestActivity">

        </activity>
        <activity android:name=".activity.account.LoginActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.account.ForgetActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.ToolsActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.homework.HomeworkActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.MathFormulaActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.LetterActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.main.AnnounceActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.homework.ErrorTopicActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.practise.PractiseActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.ReadActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.practise.WriteActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.practise.RecordActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".activity.growth.GrowthTypeActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.growth.CourseDetailActivity"
            android:screenOrientation="landscape"
            />

        <activity android:name=".activity.growth.AchievementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.growth.AchievementDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.growth.DiaryDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.growth.DiaryListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.homework.done.DoHomeworkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.set.AboutUsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.tools.read.ReadDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.account.InviteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="landscape"/>
    </application>

</manifest>