<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yzy.ebag.teacher">

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.account.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.account.ForgetActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.AssignmentActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".ui.activity.SpaceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.PersonalInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.CorrectingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.CreateClassActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.SelectSchoolActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.MyCourseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.NoticeHistoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.PublishContentActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.StudyGroupActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.QuestionActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.activity.PreviewActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.activity.PublishWorkActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
    </application>

</manifest>