<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ebag.hd">
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- 图片选择 -->
        <activity
            android:name="com.luck.picture.lib.PictureSelectorActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.luck.picture.lib.PicturePreviewActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity android:name=".ui.activity.BookListActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            />
        <activity android:name=".activity.ReportClassActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.ReportTestActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.ReaderActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan"
            />

        <activity android:name=".ui.activity.account.BForgetActivity"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"/>
    </application>

</manifest>