<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ebag.hd">
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- 图片选择 -->
        <activity
            android:name="com.luck.picture.lib.PictureSelectorActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.luck.picture.lib.PicturePreviewActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.BookListActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ReportClassActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ReportTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.album.AlbumDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DisplayOfficeFileActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ClassScheduleActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".activity.album.PhotoUploadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.YBCenterActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".homework.DoHomeworkActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AddressListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.EditAddressActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.ShopOrderActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ShopActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ShopCarActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.GoodsDetailActivity"
            android:screenOrientation="landscape" />

        <activity android:name=".activity.ProtocolActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.LetterRecordActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.ReadRecordActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.tools.LetterRecordListActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <service
            android:name=".service.AIDLTestService"
            android:process=":countdown" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>