<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzy.ebag.student">
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.yzy.ebag.student.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.account.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.account.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.account.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".module.personal.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mission.MyMissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personal.ParentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personal.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personal.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personal.UploadLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.tools.ToolsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.tools.MathFormulaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.tools.LetterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.tools.PractiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.tools.RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.tools.WriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.homework.HomeworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.homework.DoHomeworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personal.GrowupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personal.GrowthTypeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".module.personal.DiaryListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".module.personal.DiaryDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".module.personal.CourseDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".module.account.InviteActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".group.MemberListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".group.GroupListActivity"
            android:screenOrientation="portrait"
            />

        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:process=":remote" />
        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fdDs2pusQ1VCLhRghy4DUDhrPi1KWBwM" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">

        </service>
        <service
            android:name=".service.AIDLTestService"
            android:process=":countdown" />
    </application>
</manifest>